.layout-wrapper{
    height: 100%;
    overflow: hidden;
    .main-layout {
        height: 100%;
        overflow: hidden;
        position: relative;
        z-index: 10;
        backdrop-filter: blur(4px);
    }
}