.spotify-page {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(250px, 1fr) 3fr;
	overflow: hidden;

	&__browser {
		display: flex;
		flex-direction: column;
		gap: 12px;
		border-right: 1px solid #424242;
		overflow: hidden;
	}

	&__player {
		display: grid;
		grid-template-rows: 55px 1fr;
		overflow: hidden;
	}
}
