.browser {
	display: flex;
	flex-direction: column;
	// gap: 4px;
	overflow: hidden;

	&__controls {
		display: flex;
		flex-direction: row;
		align-items: center;

		.ant-btn {
			width: 32px;
			flex-shrink: 0;
			// border-left: 0;
			border-radius: 0;
		}
	}

	&__list {
		overflow-y: auto;
	}
}
