{
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"singleQuote": false,
	"endOfLine": "crlf",
	"trailingComma": "all",
	"semi": false,
	"importOrder": [
		"^react$",
		"^mobx$",
		"^antd$",
		"^@ant-design/icons",
		"^store",
		"^store/(.*)$",
		"^components/(.*)$",
		"^/ui/(.*)$",
		"^/logic/(.*)$",
		"^pages/(.*)$",
		"^logic/(.*)$",
		"^react.+$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
