.my-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 4px;
	overflow: hidden;

	&__header {
		padding: 8px 12px 0px 12px;
		line-height: 1;
		font-size: 16px;
	}

	&__header:nth-child(1) {
		padding: 12px 12px 0px 12px;
	}

	&__list {
		overflow-y: auto;
	}

	// &__list:nth-child(1) {
	//     flex: 0 1 30%; /* Минимальная высота 30%, не больше 30% */
	//     max-height: 30%; /* Устанавливаем ограничение сверху */
	// }

	/* Второй список */
	&__list:nth-child(2) {
		flex: 0 1 40%; /* Минимальная высота 30%, не больше 30% */
		max-height: 40%; /* Занимает оставшееся пространство */
	}
}
