.track-player {
	border-bottom: 1px solid;
	border-color: inherit;
	padding: 6px 12px;
	display: flex;
	flex-direction: row;
	gap: 6px;
	align-items: center;
	min-width: 0;

	// &__controls {
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// }

	// &__controls > *:hover {
	// 	transition: 0.3s;
	// }

	&__play-mode {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 6px;
	}

	&__cover {
		height: 36px;
		width: 36px;
		background-color: #fff;
		border-radius: 6px;
		flex-shrink: 0;
		cursor: pointer;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 6px;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			opacity: 0;
			transition: opacity 0.3s;
			z-index: 1;
		}

		svg {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity 0.3s;
			z-index: 2;
		}

		&:hover > * {
			opacity: 1; // Появляются при наведении
		}

		&:hover::after {
			opacity: 1;
		}

		img {
			border-radius: 6px;
		}
	}

	.volume-changer {
		flex-shrink: 0;
	}

	svg {
		flex-shrink: 0;
	}

	&__info {
		height: 36px;
		flex-grow: 1;
		flex-shrink: 1;
		display: flex;
		flex-direction: column;
		gap: 2px;
		margin-right: 6px;
		min-width: 0;

		p {
			font-size: 12px;
			line-height: 1;
			white-space: nowrap;
		}

		.info-track-name {
			width: 100%;
			white-space: nowrap;
			overflow: auto;

			.rfm-marquee {
				padding-right: 12px;
			}

			.rfm-child {
				font-size: 12px;
				line-height: 1;
				white-space: nowrap;
			}
		}

		.info-track-executor {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			p {
				color: #cccccc;
			}
		}

		// .info-track-progress {
		//     width: 100%;
		//     height: 2px;
		//     background-color: #fff;
		//     margin-top: auto;
		//     border-radius: 2px;
		// }
	}

	// &__volume{
	//     height: 2px;
	//     width: 42px;
	//     background-color: #fff;
	//     border-radius: 2px;
	// }
}
