.custom-list-item {
	width: 100%;
	padding: 3px 12px;
	border-bottom: 1px solid #424242;
	display: flex;
	flex-direction: row;
	gap: 6px;
	align-items: center;
	line-height: 1;
	list-style-type: none;

	&__title {
		flex-grow: 1;
		cursor: pointer;
		overflow: hidden;

		p {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap; 
            overflow: hidden;
			font-size: 14px;
			font-weight: 400;
            
		}
	}

	&__control{
		.control-items{
			display: flex;
			flex-direction: row;
			gap: 4px;
		}
	}
}

.custom-list-item:hover {
	background: #6f56d0;
}

.hover-control {
	.custom-list-item {
		&__control {
			visibility: hidden;
		}
	}
}

.hover-control:hover {
	.custom-list-item {
		&__control {
			visibility: visible;
		}
	}
}

