.ant-modal-mask {
	backdrop-filter: blur(16px);
	background-color: rgba(65, 65, 65, 0.2) !important;
}

.big-player {
	&__content {
		display: flex;
		flex-direction: column;
		gap: 12px;
		.content-cover {
			padding: 0px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			border-radius: 8px;
			position: relative;
			overflow: hidden;
			transition: background-color 1s;
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
			padding: 12px;

			&__lyrics-button {
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
			}

			&::after {
				content: "";
				position: absolute;
				border-radius: 8px;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(
					--after-bg-color,
					rgba(0, 0, 0, 0.5)
				); // Используем CSS-переменную
				opacity: 0;
				transition: opacity 0.3s;
				z-index: 1; // Установите z-index для псевдоэлемента
			}

			&:hover::after {
				opacity: 1;
			}

			> * {
				z-index: 2; // Установите z-index для детей элемента .content-cover
				opacity: 0; // Изначально скрыты
				transition: opacity 0.3s; // Плавное появление
			}

			&:hover > * {
				opacity: 1; // Появляются при наведении
			}
		}
	}

	&__lyrics-container {
		background: transparent;
		overflow: hidden;
		// position: relative;

		// &::before,
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	left: 0;
		// 	right: 0;
		// 	height: 15%; // Adjust the height as needed
		// 	background-color: transparent;
		// 	// mask-image: linear-gradient(
		// 	// 	rgb(0, 0, 0) 60%,
		// 	// 	rgba(0, 0, 0, 0) 100%
		// 	// );
		// 	// background-image: radial-gradient(
		// 	// 	transparent 1px,
		// 	// 	rgba(15, 17, 21, 0.2) 1px
		// 	// );
		// 	// background-size: 4px 4px;
		// 	backdrop-filter: blur(3px);
		// 	opacity: 1;
		// 	z-index: 1;
		// 	pointer-events: none; // Ensure the pseudo-elements do not block interactions
		// }

		// &::before {
		// 	top: 0;
		// }

		// &::after {
		// 	bottom: 0;
		// }
	}

	.footer-container {
		width: 360px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		.content-trackName {
			text-align: center;
			font-family: "JetBrains Mono Variable", monospace;
		}
	}

	.ant-modal-content {
		background: none;
		padding: 0px;
		border-radius: 0;
		box-shadow: unset;
		.ant-modal-footer {
			margin-top: 12px;
			display: flex;
			justify-content: center;
		}

		.ant-modal-close {
			position: absolute;
			border-radius: 6px;
		}

		.ant-modal-body {
			.modal-container {
				height: 384px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 12px;
				padding: 12px;
			}
		}
	}
}

