.track-lyrics {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
	z-index: 1;

	&__line {
		font-size: 48px;
		line-height: 1;
		padding: 24px 12px;
		text-align: center;
	}

	&__line:nth-child(1) {
		margin-top: 30%;
	}
}
